

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: url(components/bg.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    overflow: hidden;
    
}
.container{
    margin: 0;
    height: 100vh;
    position: relative;
}

/* Nav bar style */
.navbar {
    width: 97vw;
    background: transparent;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #0de8f8;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    box-shadow: 0 0 5px #1A3A4F, 0 0 10px #1A3A4F, 0 0 20px #1A3A4F, 0 0 100px #1A3A4F;
}

/*logo created by watching tutorial */
.logo {
    font-family: "Gorditas", serif;
    font-weight: 700;
    font-style: normal;
   font-size: 40px;
   letter-spacing: 1px;
   text-align: center;
   background: linear-gradient(
    90deg,#f501c8, #00fbc5, #40aaf6,#b300ff,#b206bf,hsl(312, 98%, 34%),#f7032c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;
    animation: gradient 3s
        ease-in-out infinite ;
}
@keyframes gradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.navbar .menu {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar .menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar .menu a:active {
    text-shadow: 0 0 5px #0de8f8;
}

.navbar .menu .loginsignup {
    background-color: #f206a7;
    padding: 10px 20px;
    border: 1px solid #ab0944;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    align-items: center;
    height: 100%;
}

.navbar .menu .loginsignup:hover {
    background: #39c9d3;
    border: 1px solid #02f7f7;
    box-shadow: 0 0 5px #1A3A4F, 0 0 10px #1A3A4F, 0 0 20px #1A3A4F, 0 0 100px #1A3A4F;
}

.navbar .menu .loginsignup:active {
    box-shadow: 0 0 5px #5cbcfc, 0 0 10px #5cbcfc, 0 0 20px #5cbcfc, 0 0 100px #5cbcfc;
}

/* Hero section style */
.hero {
    position: absolute;
    width: 60vw;
    height: 50vh;
    top: 23%;
    left: 18%;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    padding: 20px;
    /* height: calc(100vh - 80px); */
    margin: 0;
    /* border: 1px solid blanchedalmond; */
    background: linear-gradient(
        120deg,#f501c8, #00fbc5, #8640f6,#fb00ff,#f054e9,#00a2ff,#f703aa);
        
        background-size: 300% 300%;
        animation: herograd 3s
    ease-in-out infinite ;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    display: flex;
    position: absolute;
    overflow: visible;
    z-index: 0;

}
@keyframes herograd{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.box{
    margin: 0;
    padding: 0px;
    width: 100vw;
    height: 50vh;
    top: 70%;
   
    /* background: transparent; */
    backdrop-filter: blur(10px);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    /* display: flex; */
    /* justify-content: space-between; */
    position: absolute;
    /* flex-direction: column; */
    overflow: hidden;
    z-index: 0;
    
}

.box img{
    width: 100%;
    height: 60%;
}
.hero .explore button{
    height: 50px;
    width: 400px;
    background-color: #0b0108;
    border: 1px solid #e701d0;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: larger;
    align-items: center;
}

.hero .explore button:hover {
    background: rgba(215, 225, 28, 0.412);
    border: 1px solid #ffffff;
    box-shadow: 0 0 5px #118282, 0 0 10px #1A3A4F, 0 0 20px #1A3A4F, 0 0 100px #1A3A4F;
    color: black;
}

.hero .explore button:active {
    box-shadow: 0 0 5px #fb62cf, 0 0 10px #5cbcfc, 0 0 20px #4cf8c7, 0 0 100px #fc5cd9;
}

.hero .explore{
    position: relative;
    top: 20%;
}

.explore h1{
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
}
.explore p{
    font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
}
.explore h2{
    font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
    font-weight: 600;
}


/* Mobile */
@media (max-width: 767px) {
    
    .navbar{
        height: 50px;
        min-width: 400px;
    }

    .navbar .logo{
        font-weight: 600;
        font-style: normal;
       font-size: 30px;
    }

    .hero {
        width: 90vw;
        top: 15%;
        left: 5%;
        padding: 10px;
        min-width: 400px;
    }

    .hero .explore h1 {
        font-size: 24px;
    }

    .hero .explore h2 {
        font-size: 18px;
    }

    .hero .explore button {
        width: 60%;
    }

    .box {
        height: 40vh;
        top: auto;
        bottom: 0;
        min-width: 400px;
        left:0;
    }

    .box img {
        height: 100%;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .navbar{
        height: 50px;
    }

    .navbar .logo{
        font-weight: 600;
        font-style: normal;
       font-size: 30px;
    }

    .hero {
        width: 70vw;
        height: 60vh;
        top: 22%;
        left: 12.75%;
        padding: 20px;
    }

    .hero .explore h1 {
        font-size: 30px;
    }

    .hero .explore h2 {
        font-size: 20px;
    }

    .hero .explore button {
        width: 60%;
    }

    .box {
        height: 40vh;
        top: 75%;
        bottom: 0;
    }
}


